:root{
    --main-color: #F9065B;
    --highlight-color: #06F9A4;
}
*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 5fr;
    background-color: rgb(156, 153, 153);
}
.sidebar{
    background-color: var(--main-color);
    grid-row: 1 / 3;
}
.header{
    background-color: white;
}
.content{
    background-color: rgb(216, 216, 223);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 10px;
    column-gap: 20px;
}
.projects{
    border: 5px black solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.relevant{
    border: 5px black solid;
}